/*---
title:   Variables
section: Utils
---
The following Colors are available:
```example:color
@color: #001155 @name: $test-navy
@color: #11aaff @name: $test-blue
@color: #85d5ff @name: $test-blue-20
@color: #333 @name: $test-dark-grey
@color: #666 @name: $test-mid-grey
@color: #bbb @name: $test-light-grey
@color: #ebebeb @name: $test-light-grey-50
@color: #dd1122 @name: $test-red
@color: rgba(255, 0, 0, 0.1) @name: $test-light-red-20
@color: #551166 @name: $test-purple
@color: #25B252 @name: $test-green
@color: #2d90ec @name: $test-secondary
```
*/

$snow: #fff;
$dark-snow: #ebebeb;
$default: grey;
$manta: #000;
$dark: #323232;
$grass: #5fbf0a;
$copper: brown;
$blue: #35a;
$alert: #d23f31;

$shopping-primary-dark: #629C38;
$shopping-primary: #91C46C;
$shopping-primary-light: #DFFFC8;
$shopping-secondary: #BD45C4;
$shopping-secondary-light: #DB7CE0;

$cost-management-primary-dark: #AB7743;
$cost-management-primary: #D3A77B;
$cost-management-primary-light: #FFE8D0;
$cost-management-secondary: #51B4D3;
$cost-management-secondary-light: #8DD9F0;

$slide-duration: 0.5s;
