@import "../../../styles/utils/variables";

$avatar_radius: 50px;

.progress {
    border: 2px dotted red;
    display: flex;
    flex-flow: row wrap;
}

.amount {
    border: 2px dotted yellow;
    text-align: right;
    flex: 1 2;
    order: 1;
}

.avatar {
    border: 2px dotted blue;
    flex: 1 $avatar-radius;
    order: 2;

    &__pic {
        margin: 0 auto;
        width: $avatar-radius;
        height: $avatar-radius;
        border-radius: 100%;
        background-color: #999;
    }

    &__label {
        text-align: center;
        border: 2px dotted darkcyan;
    }
}

.bar {
    flex: 1 2;
    order: 3;
    width: 100px;
    height: 20px;
    border: 2px dotted purple;

    &__progress {
        background-color: green;
        width: 70%;
        height: 100%;
    }
}