<header class="header"
        [ngClass]="{'header--cost-management': menuItems[selectedIndex].route==='/cost-management',
        'header--settings': menuItems[selectedIndex].route==='/settings'}">
    <span (click)="toggleNavigation()" class="icon icon--burger"></span>
    <div>{{menuItems[selectedIndex].name}}</div>
</header>
<aside>
    <ul class="navigation-drawer" [ngClass]="{'navigation-drawer--hide': !showNavigation}">
        <li *ngFor="let item of menuItems" routerLink="{{item.route}}"
            routerLinkActive="navigation-drawer__item--selected" class="navigation-drawer__item">
            <a class="link">
                <span class="navigation-drawer__item__icon icon icon--{{item.icon}}"></span>
                <span class="navigation-drawer__item__text">{{item.name}}</span>
            </a>
        </li>
    </ul>
    <div (click)="toggleNavigation()" class="navigation-drawer__cover"
         [ngClass]="{'navigation-drawer__cover--hide': !showNavigation}"></div>
    <div class="navigation-drawer__solid-imitator"
         [ngClass]="{'navigation-drawer__solid-imitator--hide': !showNavigation}"></div>
</aside>