# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Intellij
.idea

#Deployment
.dist

#TypeScript
src/frontend/**/*.js
src/frontend/**/*.map
!src/**/systemjs.config.js

#Typings
typings

#Styleguide
.styleguide

#Gulp
!gulp/*

#Test
.tmpE2e
src/spec/frontend/