<div class="container__page--vertical">
	<div>Add expense to group {{groupName}}</div>
	<div>
		<input-field [placeholder]="inputField.description.placeholder" [type]="inputField.description.type" (enteredText)="setDescription($event)"></input-field>
		<input-field [placeholder]="inputField.amount.placeholder" [type]="inputField.amount.type" (enteredText)="setAmount($event)"></input-field>
	</div>
	<div>
		<div *ngFor="let member of costManagementService.members">
			<checkbox [label]="member.username" [(checked)]="member.checked"></checkbox>
		</div>
	</div>
</div>