<div class="container__page">
    <ul class="list">
        <panel class="list__item" *ngFor="let member of groupMemberService.members" [title]="member.username"
               [description]="member.email" [rightIconName]="'cross'"
               (clickIconRight)="leaveMember=$event;setLeaveModalVisibility(true)"></panel>
    </ul>

    <button class="btn btn--round btn--bottom-right icon icon--plus" (click)="setMemberModalVisibility(true)"></button>
    <div *ngIf="showMemberModal" class="modal" (click)="setMemberModalVisibility(false)">
        <div class="modal__content" (click)="$event.stopPropagation()">
            <input-field [placeholder]="'Email'"
                         [type]="'email'"
                         [errorMessage]="invitedErrorMessage"
                         (enteredText)="setInvitedEmail($event)"
                         (keyup.enter)="addMember()"></input-field>

            <button class="btn btn--bare" (click)="addMember()">Add</button>
            <button class="btn btn--bare btn--bare--right" (click)="setMemberModalVisibility(false)">Cancel</button>
        </div>
    </div>

    <div *ngIf="showLeaveModal" class="modal" (click)="setLeaveModalVisibility(false)">
        <div class="modal__content" (click)="$event.stopPropagation()">
            <div>Remove '{{leaveMember.description}}' from this group?</div>

            <button class="btn btn--bare" (click)="leaveGroup(leaveMember)">Delete</button>
            <button class="btn btn--bare btn--bare--right" (click)="setLeaveModalVisibility(false)">Cancel</button>
        </div>
    </div>

    <div *ngIf="showRenameModal" class="modal" (click)="setRenameModalVisibility(false)">
        <div class="modal__content" (click)="$event.stopPropagation()">
            <input-field [placeholder]="'Groupname'"
                         [type]="'text'"
                         [text]="this.groupMemberService.group.name"
                         (enteredText)="groupname=$event.trim();"></input-field>
            <button class="btn btn--bare"
                    [disabled]="(groupname === undefined && groupMemberService.group.name)  || (groupname === '')"
                    (click)="renameGroup(groupname || groupMemberService.group.name)">Rename
            </button>
            <button class="btn btn--bare btn--bare--right" (click)="setRenameModalVisibility(false)">Cancel</button>
        </div>
    </div>
</div>