<div class="container__page">
    <ul class="list">
        <panel class="list__item" *ngFor="let member of groupService.members" [title]="member.username"
               [description]="member.email" [rightIconName]="'cross'"></panel>
    </ul>
    <button class="btn btn--round btn--bottom-right icon icon--plus" (click)="setModalVisibility(true)"></button>
    <div *ngIf="showModal" class="modal" (click)="setModalVisibility(false)">
        <div class="modal__content" (click)="$event.stopPropagation()">
            <input-field [placeholder]="inputField.invitedEmail.placeholder"
                         [type]="inputField.invitedEmail.type" [errorMessage]="inputField.invitedEmail.errorMessage"
                         (enteredText)="setInvitedEmail($event)"
                         (keyup.enter)="addMember()"></input-field>

            <button class="btn btn--bare" (click)="addMember()">Add</button>
            <button class="btn btn--bare btn--bare--right" (click)="setModalVisibility(false)">Cancel</button>
        </div>
    </div>
</div>