@import "../../../styles/utils/variables";

.input-field {
  position: relative;
  font-size: 16px;
  display: inline-block;
  box-sizing: border-box;
  width: 100px;
  max-width: 100%;
  margin: 0;
  padding: 20px 0;

  &__label {
    bottom: 0;
    color: rgba(0, 0, 0, .26);
    font-size: 16px;
    left: 0;
    right: 0;
    pointer-events: none;
    position: absolute;
    display: block;
    top: 24px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    transition: top $slide-duration, font-size $slide-duration;

    &--focus {
      top: 0;
      font-size: 12px;
    }

  }

  &__input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    display: block;
    font-size: 16px;
    font-family: "Helvetica", "Arial", sans-serif;
    margin: 0;
    padding: 4px 0;
    width: 100%;
    background: 0 0;
    text-align: left;
    color: inherit;
  }
}