<div class="input-field">
    <input #input [(ngModel)]="value" (focus)="setFocus(true); focus=true"
           (blur)="setFocus(false, input.value); focus=false"
           (keyup)="textEntered(input.value)" class="input-field__input" type="{{type}}" value="{{text}}"
           autocomplete="off">
    <label class="input-field__label" [class.input-field__label--focus]=isFocused>{{placeholder}}</label>
    <label *ngIf="!focus && inputControl?.invalid && inputControl?.dirty"
           class="input-field__error">{{errorMessage}}</label>
</div>
