@import "../../../styles/utils/variables";

.input-field {
  position: relative;
  font-size: 16px;
  display: inline-block;
  box-sizing: border-box;
  max-width: 100%;
  margin: 0;
  padding: 20px 0;

  &__label {
    bottom: 0;
    color: $shopping-secondary;
    font-size: 16px;
    left: 0;
    right: 0;
    pointer-events: none;
    position: absolute;
    display: block;
    top: 24px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    transition: top $slide-duration, font-size $slide-duration;

    &--focus {
      top: 0;
      font-size: 12px;
    }

  }

  &__input {
    border: none;
    border-bottom: 1px solid $shopping-secondary;
    font-size: 16px;
    font-family: "Helvetica", "Arial", sans-serif;
    padding: 4px 0;
    width: 100%;
    &:focus {
      outline: none;
    }
  }
}