<div class="container__page">
    <label for="login-username">
        Username:
    </label>
    <input id="login-username" type="text" (keyup)="setUsername($event)" value="{{username}}"/>

    <label for="login-password">
        Password:
    </label>
    <input id="login-password" type="password" (keyup)="setPassword($event)" value="{{password}}"/>

    <button (click)="login()">Login</button>

    <button (click)="logout()">Logout</button>

    <div class="response">{{response}}</div>
    <input-field [placeholder]="inputField.username.placeholder"
                 [type]="inputField.username.type"></input-field>
</div>