<form class="login-container" [formGroup]="loginForm">
  <input-field formControlName="email" [inputControl]="loginForm.controls['email']" class="input--login"
               [placeholder]="'Email'" [errorMessage]="'enter valid Emailaddress'"
               [type]="'email'"></input-field>

  <input-field formControlName="password" [inputControl]="loginForm.controls['password']" class="input--login"
               [placeholder]="'Password'"
               [type]="'password'" [errorMessage]="'Password required'"></input-field>

  <button class="btn btn--login" (click)="login()" [disabled]="loginForm.invalid">Login</button>
</form>
