<div class="register-container">
    <input-field class="input--register" [placeholder]="inputField.username.placeholder"
                 [type]="inputField.username.type" (enteredText)="setUsername($event)"></input-field>

    <input-field class="input--register" [placeholder]="inputField.email.placeholder"
                 [type]="inputField.email.type" (enteredText)="setEmail($event)"></input-field>

    <input-field class="input--register" [placeholder]="inputField.password.placeholder"
                 [type]="inputField.password.type" (enteredText)="setPassword($event)"></input-field>

    <button class="btn btn--register" (click)="register()">Register</button>

</div>