<div class="register-container">
    <input-field class="input--register" [placeholder]="'Username'"
                 [type]="'text'" (enteredText)="setUsername($event)"></input-field>

    <input-field class="input--register" [placeholder]="'Email'"
                 [type]="'email'" (enteredText)="setEmail($event)"></input-field>

    <input-field class="input--register" [placeholder]="'Password'"
                 [type]="'password'" (enteredText)="setPassword($event)"></input-field>

    <button class="btn btn--register" (click)="register()">Register</button>
</div>