<form class="register-container" [formGroup]="registerForm">
  <input-field formControlName="username" [inputControl]="registerForm.controls['username']"
               [errorMessage]="'username is required'"
               class="input--register" [placeholder]="'Username'"
               [type]="'text'" [(ngModel)]="username"></input-field>

  <input-field formControlName="email" [inputControl]="registerForm.controls['email']"
               [errorMessage]="'enter valid Emailaddress'"
               class="input--register" [placeholder]="'Email'"
               [type]="'email'" [(ngModel)]="email"></input-field>

  <input-field formControlName="password" [inputControl]="registerForm.controls['password']"
               [errorMessage]="'Password required'"
               class="input--register" [placeholder]="'Password'"
               [type]="'password'" [(ngModel)]="password"></input-field>

  <button class="btn btn--register" [disabled]="registerForm.invalid" (click)="register()">Register</button>
</form>