@import "../../styles/utils/variables";

.navigation-drawer {
  list-style: none;
  z-index: 10;
  width: 68%;
  left: -100%;
  margin: 0;
  top: 0;
  position: absolute;
  bottom: 0;
  background: $snow;
  padding: 5rem 30px 0 10px;
  animation: slidein 1s;
  animation-timing-function: ease-in;
  @media only screen and (min-width: 600px) {
    left: -260px;
    width: 220px;
    animation: slidein-desktop 1s;
  }

  &--slide {
    left: 0;
    animation: slideout 0.7s;
    animation-timing-function: ease-out;
    @media only screen and (min-width: 600px) {
      animation: slideout-desktop 0.7s;
    }
  }

  &__item {
    cursor: pointer;
    padding: 15px 5%;
    &:hover {
      background-color: $dark-snow;
      border-radius: 5px;
    }
    &--selected {
      background-color: $dark-snow;
      border-radius: 5px;
    }

    &__text {
      padding-left: 25px;
    }
  }

  &__cover {
    z-index: 8;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(dimgray, 0.4);
    animation-name: white-dimgray;
    animation-duration: 1s;
    @media only screen and (min-width: 600px) {
      display: none;
    }
    &--slide-in {
      top: 0;
      height: 0;
      animation-name: dimgray-white;
      animation-duration: 1s;
    }
  }

  &__solid-imitator {
    display: none;
    height: calc(100% - 60px);
    float: left;
    animation: slidein-imitator 1s;
    animation-timing-function: ease-in;
    @media only screen and (min-width: 600px) {
      width: 1px;
      display: block;
    }

    &--slide {
      width: 260px;
      animation: slideout-imitator 0.7s;
      animation-timing-function: ease-out;
    }
  }
}

@-webkit-keyframes white-dimgray {
  from {
    background-color: rgba($snow, 0);
  }
  to {
    background-color: rgba(dimgray, 0.4);
  }
}

@-webkit-keyframes dimgray-white {
  from {
    height: 100%;
    background-color: rgba(dimgray, 0.4);
  }
  to {
    height: 100%;
    background-color: rgba($snow, 0);
  }
}

@keyframes slidein {
  from {
    left: 0;
  }
  to {
    left: -70%;
  }
}

@keyframes slidein-desktop {
  from {
    left: 0;
  }
  to {
    left: -260px;
  }
}

@keyframes slideout {
  from {
    left: -70%;
  }
  to {
    left: 0;
  }
}

@keyframes slideout-desktop {
  from {
    left: -260px;
  }
  to {
    left: 0;
  }
}

@keyframes slidein-imitator {
  from {
    width: 260px;
  }
  to {
    width: 1px;
  }
}

@keyframes slideout-imitator {
  from {
    width: 1px;
  }
  to {
    width: 260px;
  }
}