<header class="header"
        [ngClass]="{'header--cost-management': selectedIndex===1,
        'header--settings': selectedIndex===2}">
    <span (click)="toggleNavigation()" class="icon icon--burger"></span>
    <div>{{menuItems[selectedIndex].name}}</div>
</header>
<aside>
    <ul class="navigation-drawer" [ngClass]="{'navigation-drawer--slide': showNavigation}">
        <li *ngFor="let item of menuItems;let i = index;" (click)="setSelectedIndex(i)" class="navigation-drawer__item"
            [ngClass]="{'navigation-drawer__item--selected':selectedIndex===i}">
            <a class="link" routerLink="{{item.route}}" routerLinkActive="active">
                <span class="icon icon--{{item.icon}}"></span>
                <span class="navigation-drawer__item__text">{{item.name}}</span>
            </a>
        </li>
    </ul>
    <div class="navigation-drawer__cover" [ngClass]="{'navigation-drawer__cover--slide-in': !showNavigation}"></div>
    <div class="navigation-drawer__solid-imitator"
         [ngClass]="{'navigation-drawer__solid-imitator--slide': showNavigation}"></div>
</aside>