.container {
  &__page {
    margin-top: 80px;

    @media (min-width: 720px) {
      flex-wrap: wrap;
      display: flex;
    }
  }

  &--vertical {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 15%;
    align-items: center;
    @media (min-width: 720px) {
      margin-top: 5%;
    }
  }
}