
.icon {
  font-family: 'icomoon';
  cursor: pointer;

  &--burger {
    text-align: center;
    float: left;
    width: 80px;
    opacity: 0.75;
    color: $snow;

    &:active::before {
      border-radius: 20px;
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.1);
    }

    &:hover {
      opacity: 1;
    }

    &:before {
      font-size: 1.5rem;
      content: "\e900";
    }
  }

  &--shopping-list:before {
    color: $default;
    content: "\e903";
  }

  &--cost:before {
    color: $grass;
    content: "\e902";
  }

  &--user:before {
    color: $copper;
    content: "\e901";
  }
}

