
.icon {
  font-family: 'icomoon';
  cursor: pointer;

  &--burger {

    &:before {
      padding-top: 10px;
      padding-left: 10px;
      font-size: 1.5rem;
      content: "\e900";
    }
  }

  &--shopping-list:before {
    color: grey;
    content: "\e903";
  }

  &--cost:before {
    color: #5fbf0a;
    content: "\e902";
  }

  &--user:before {
    color: brown;
    content: "\e901";
  }
}

