
.icon {
  font-family: 'icomoon';
  cursor: pointer;

  &-header {
    width: 80px;
    color: $snow;
    text-align: center;
    float: left;
    @media (min-width: 720px) {
      opacity: 0.75;
    }

    &--right {
      float: right;
    }

    &:active::before {
      border-radius: 20px;
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.1);
    }

    &:hover {
      opacity: 1;
    }

    &:before {
      font-size: 1.5rem;
    }
  }

  &--centered {
    font-size: 25px;
    margin-left: 10px;
    vertical-align: middle;
  }

  &--burger:before {
    content: "\e901";
  }

  &--edit:before {
    content: "\e908";
  }

  &--arrow-left:before {
    content: "\e907";
  }

  &--shopping-list:before {
    color: $shopping-primary-dark;
    content: "\e903";
  }

  &--cost-management:before {
    color: $cost-management-primary-dark;
    content: "\e902";
  }

  &--settings:before {
    content: "\e900";
  }

  &--cross:before {
    content: "\e905";
  }
  &--plus:before {
    font-size: 30px;
    content: "\e904";
  }

  &--logout:before {
    content: "\e906";
  }

  &--add-group:before {
    content: "\e909";
  }

  &--add-person:before {
    content: "\e90a";
  }

  &--radio-unchecked:before {
    content: "\e90b";
  }

  &--radio-checked:before {
    content: "\e90c";
  }
}

