.list {
  list-style: none;
  background-color: #F2F2F2;

  &__item {
    cursor: pointer;
    padding: 15px 5%;

    &__text {
      padding-left: 25px;
    }
  }

  &--navigation {
    width: 70%;
    left: -100%;
    margin: 0;
    top: 0;
    position: absolute;
    height: 100%;
    background: grey;
    padding: 5rem 30px 0 10px;

    &--slide {
      left: 0;
      animation: slideout 1s;
      animation-timing-function: ease-out;
    }
  }
}

@keyframes slideout {
  from {
    left: -70%;
  }
  to {
    left: 0;
  }
}