.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  background-color: rgba($default, 0.4);
  width: 100%;
  height: 100%;
  z-index: 1000;

  &__content {
    border-radius: 3px;
    margin: auto 15px;
    background-color: #fff;
    padding: 15px 25px;

    @media (min-width: 720px) {
      margin: auto;
      width: 260px;
    }
  }
}