<div class="container__page--vertical">
  <div>
    <input-field [formControl]="descriptionControl" [inputControl]="descriptionControl"
                 [errorMessage]="'Enter a description'"
                 [placeholder]="'Description'" [type]="'text'"></input-field>
    <input-field [formControl]="amountControl" [inputControl]="amountControl"
                 [errorMessage]="'Enter your expense'"
                 [placeholder]="'Amount'" [type]="'text'"></input-field>
  </div>
  <div>
    <div>These people share the expense with myself:</div>
    <div class="member-row" *ngFor="let member of costManagementService.members">
      <checkbox [id]="member.username" [label]="member.username"
                [(ngModel)]="member.checked"></checkbox>
    </div>
  </div>
  <button class="btn" (click)="onAddClick()" [disabled]="descriptionControl.invalid || amountControl.invalid">Add
  </button>
</div>
