<div class="container__page">
	<button class="btn btn--round btn--bottom-right icon icon--plus" routerLink="add"></button>

	<card [title]="'Overview'">
		<cost-progress 
			*ngFor="let entry of costManagementService.expenseOverview" 
			[label]="entry.user.username" 
			[amount]="entry.amount" 
			[percentage]="entry.percentage"></cost-progress>
	</card>

	<card *ngFor="let month of costManagementService.expenses" [title]="'Month'">
		<div *ngFor="let expense of month" class="entry">
			<div class="entry__column">{{expense.creditor.username}}</div>
			<div class="entry__column">{{expense.description}}</div>
			<div class="entry__column">CHF {{expense.amount}}</div>
		</div>
	</card>
</div>