<div class="container__page">
	<button class="btn btn--round btn--bottom-right icon icon--plus" routerLink="{{addExpenseRoute}}"></button>

	<card [title]="overviewTitle">
		<cost-progress label="Shopping Queen" amount="160" percentage="80"></cost-progress>
		<cost-progress label="Lettuce Lover" amount="90" percentage="-45"></cost-progress>
		<cost-progress label="Meat Eater" amount="70" percentage="-35"></cost-progress>
	</card>

	<card [title]="currentMonthTitle">

	</card>

	<card *ngFor="let month of months" [title]="month.title">
		
	</card>
</div>