<header class="header" [ngClass]="{'header--cost-management': headerService.headerConfig.style===2,
        'header--shopping-list': headerService.headerConfig.style===1}">
    <span [className]="['icon icon-header icon--'+headerService.headerConfig.leftIconString]"
          (click)="clickLeftIcon()"></span>
    <span>{{headerService.headerConfig.title}}</span>
    <span [className]="['icon icon-header icon-header--right icon--'+headerService.headerConfig.rightIconString]"
          (click)="clickRightIcon()"></span>
</header>