@import "../../../styles/utils/variables";
@import "../../../styles/elements/icons";

.radio {
  display: none;

  &__container {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

.label {
  cursor: pointer;
}

.check {
  margin-right: 5px;
  color: $blue;
  font-size: 1.5rem;

  .radio:checked + .radio__container > & {
    @extend .icon;
    @extend .icon--radio-checked
  }

}