@import "../../../styles/utils/variables";

.radio {
  display: none;
}

.label {
  cursor: pointer;

  &__button {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-bottom: -.25em;
    border: 2px solid #35a;
    border-radius: 100%;
  }
}

.radio:checked + .label > .label__button--dot {
  display: inline-block;
  width: .75em;
  height: .75em;
  margin-left: -1.25em;
  margin-right: 0.25em;
  background: #35a;
  border-radius: 100%;
}