@import "../../../styles/utils/variables";

.modal {
  color: $blue;
}

.group {

  &__radio {
    display: inline-block;
  }

  &__icon {
    float: right;
    font-size: 20px;
    border-radius: 20px;
    padding: 10px;
    margin: -10px;

    &:active {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}