@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?x4kop2');
  src: url('../fonts/icomoon.eot?x4kop2#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?x4kop2') format('truetype'),
  url('../fonts/icomoon.woff?x4kop2') format('woff'),
  url('../fonts/icomoon.svg?x4kop2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}