@import "../../../styles/utils/variables";
@import "../../../styles/elements/icons";

.checkbox {
  display: none;

  &__container {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

.check {
  margin-right: 5px;
  color: $blue;
  font-size: 1.5rem;

  .checkbox:checked + .checkbox__container > & {
    @extend .icon;
    @extend .icon--checkbox-checked
  }
}
