@import "./../../../styles/utils/variables";

.panel {
  padding: 10px 50px;
  height: 48px;
  cursor: pointer;

  &__item {

    &__description {
      font-size: 0.8em;
      color: $default;
    }
  }

  &:hover {
    background: $dark-snow;
  }
}