@import "./../../../styles/utils/variables";

.panel {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__item {

    &--right {
      text-align: end;
    }

    &__description {
      font-size: 0.8em;
      color: $default;
    }

    &__icon {
      font-size: 20px;
      border-radius: 20px;
      padding: 10px;
      opacity: 0.5;

      &:active {
        background-color: rgba(0, 0, 0, 0.1);
      }
      &:hover {
        opacity: 1;
      }
    }
  }
}