@import "../../../styles/utils/variables";

.snackbar {
  position: fixed;
  bottom: -40px;
  display: flex;
  right: 10px;
  left: 10px;
  background: $dark;
  transition: bottom $slide-duration ease-in, opacity $slide-duration ease-in;
  z-index: 1001;
  opacity: 0;

  @media (min-width: 720px) {
    padding: 15px;
    left: auto;
    top: 25%;
    bottom: auto;
    width: 420px;
    right: -450px;
    transition: right $slide-duration ease-in, opacity $slide-duration ease-in;
  }

  &__text {
    color: $snow;
    padding: 8px 15px;
  }

  &--show {
    bottom: 0;
    opacity: 1;
    @media (min-width: 720px) {
      top: 25%;
      bottom: auto;
      right: 0;
      z-index: 100;
    }
  }
}