@import "../../../styles/utils/variables";

.snackbar {
  position: fixed;
  bottom: -40px;
  display: flex;
  right: 10px;
  left: 10px;
  background: $dark;
  transition: bottom $slide-duration ease-in;

  @media (min-width: 720px) {
    left: auto;
    bottom: 75%;
    width: 420px;
    right: -420px;
    transition: right $slide-duration ease-in;
  }

  &__text {
    color: $snow;
    padding: 8px 15px;
  }

  &--show {
    bottom: 0;
    @media (min-width: 720px) {
      padding: 15px;
      bottom: 75%;
      right: 0;
      transition: right 0.5s ease-in;
      z-index: 100;
    }
  }
}